<section class="flex flex-col gap-4 pb-5">
    <div class="flex flex-col gap-2">
        <app-xss />

    </div>
</section>


<section class="flex flex-col gap-4 pb-5">
    <div class="flex flex-col gap-2">
        <app-dialog />
        <app-toast />
    </div>
</section>


<section>
    <div class="flex flex-col gap-2 pb-5 pt-5 border-t">
        <span>REACTIVE NORMAL</span>
        <app-reactive-normal></app-reactive-normal>
    </div>

    <div class="flex flex-col gap-2 pb-5 pt-5 border-t">
        <span>REACTIVE ARRAY</span>
        <app-reactive-array></app-reactive-array>
    </div>

    <div class="flex flex-col gap-2 pb-5 pt-5 border-t">
        <span>REACTIVE GROUP</span>
        <app-reactive-group></app-reactive-group>
    </div>
</section>


<section>
    <div class="flex flex-col gap-2 pb-5 pt-5 border-t">
        <span>TEMPLATE DRIVEN NORMAL</span>
        <app-template-normal></app-template-normal>
    </div>

    <div class="flex flex-col gap-2 pb-5 pt-5 border-t">
        <span>TEMPLATE DRIVEN ARRAY</span>
        <app-template-array></app-template-array>
    </div>

    <div class="flex flex-col gap-2 pb-5 pt-5 border-t">
        <span>TEMPLATE DRIVEN GROUP</span>
        <app-template-group></app-template-group>
    </div>
</section>


<section>
    <div class="flex flex-col gap-2 pb-5 pt-5 border-t">
        <span>FURMULARIO DE VALIDACIONES</span>
        <app-validate></app-validate>
    </div>
</section>